{
  "web": {
     "client_id": "X.apps.googleusercontent.com",
     "client_secret": "",
     "redirect_uris": [],
     "auth_uri": "https://accounts.google.com/o/oauth2/auth",
     "token_uri": "https://accoutns.google.com/o/oauth2/token"
  }
}
