{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai ft=htmldjango:
{% endcomment %}
<h4><a href="{{webpage.url}}">{{edata.title}}</a></h4>
{% if has_preview %}
<table>
  <tr>
    <td>
{% endif %}
      <blockquote cite="{{webpage.url}}">
        {{edata.description}}
      </blockquote>
{% if has_preview %}
    </td>
    <td>
  {% if has_edata_html %}
      <!-- Embeded data from Embedly -->
       {{edata.html}}
  {% elif has_edata_image %}
      <img src='{{edata.thumbnail_url}}'>
  {% elif has_images %}
    {% for image in images %}
      <img src='{{image.url}}' alt="{{image.content}}">
    {% endfor %}
  {% endif %}
    </td>
  </tr>
</table>
{% endif %}
